{# index.php #}
{% extends 'Layouts/base.twig' %}

{% block content %}
  <section class="flex" id="section1">
      <div><h1>Exploitez enfin toutes les ressources digitales</h1>
      <p>Solutions et outils de veille sur-mesure pour professionnels</p>
          <div> <input type="text" placeholder='Votre email' id="mail">
              <a href="{{theme.path}}/sources/" rel="home" id="buttonorange">Demander une démo</a></div>
      </div>
      <div><img src="{{theme.path}}/assets/img/illu-principale@2x.jpg"></div>
      
</section>
<img src="{{theme.path}}/assets/img/group-13.svg" id="fleche">
 
<section class="flex section2" id="section2">
      
<div id="cote"> <h1>L'intelligence économique</h1>
      <div id="traitbleu"></div></div>
<div> <h2>Tirez le meilleur parti d’une information colossale</h2>
      <p>Envie d’en savoir plus sur les opportunités qui s’offrent à vous et les menaces auxquelles vous pourrez être confronté ?<br/>
    L’Intelligence économique vous permet d’appréhender au mieux votre environnement et d’anticiper les évolutions dans les domaines clés : marché, innovation, réglementation, digital, territoire, stratégie, etc.</p></div>

</section>
<section class="flex" id="section3">
<div><h1>Crawler</h1>
    <h2>Surveillez tout ce que vous souhaitez, en continu</h2>
    <p>Solutions d’automatisation de la collecte et du traitement de vos sources d’informations.</p>
    </div>
    <div><img src="{{theme.path}}/assets/img/crawler-illu2x.png"></div>
    
</section>
<section class="flex" id="section4">
<div id="pilot"><img src="{{theme.path}}/assets/img/pilot-illu2x"></div>
    <div><h1>Pilot</h1>
    <h2>Transformez l’information en données exploitables</h2>
    <p>Solution d’enrichissement, de modélisation et de classement de contenus.</p>
        <a  href="{{theme.path}}/sources/" rel="home" > Découvrir Pilot</a>
    </div>  
</section>
<section class="flex" id="section5">

    <div><h1>Platform</h1>
    <h2>Pour chacun, la bonne info, <br/>au bon format, au bon moment</h2>
    <p>Solution de diffusion d’informations et d’aide à la décision.</p>
        <a  href="{{theme.path}}/sources/" rel="home" >Découvrir Pilot</a>
    </div>
    <div id="platform"><img src="{{theme.path}}/assets/img/pilot-illu2x"></div>
</section>

<section id="section6">
<div id="parfaites"> <h1>Nos solutions sont parfaites pour</h1>
    <div class="flex center">
        <div class="list">
            <img src="{{theme.path}}/assets/img/tescontent.jpg" class="image">
            <h2 class="titretext">Dirigent d'entreprise</h2>
            <p>Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil. Lorem ipsum dolor</p>
        </div>
        <div class="list">
            <img src="{{theme.path}}/assets/img/tescontent.jpg" class="image">
            <h2 class="titretext">Département marketing</h2>
            <p>Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil. Lorem ipsum dolor</p>
        </div>
        <div class="list">
            <img src="{{theme.path}}/assets/img/tescontent.jpg" class="image">
            <h2 class="titretext">Département juridique</h2>
            <p>Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil. Lorem ipsum dolor</p>
        </div>
    </div>
    <div class="flex center">
        <div class="list">
            <img src="{{theme.path}}/assets/img/tescontent.jpg" class="image">
            <h2 class="titretext">Département R&D</h2>
            <p>Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil. Lorem ipsum dolor</p>
        </div>
        <div class="list">
            <img src="{{theme.path}}/assets/img/tescontent.jpg" class="image">
            <h2 class="titretext">Département études</h2>
            <p>Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil. Lorem ipsum dolor</p>
        </div>
        <div class="list">
            <img src="{{theme.path}}/assets/img/tescontent.jpg" class="image">
            <h2 class="titretext">Documentaliste</h2>
            <p>Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil. Lorem ipsum dolor</p>
        </div>
    </div>
    
    </div>
    <div class="flex partie2">
        <div id="cote"> <h1>Ils nous font confiance</h1>
      <div id="traitbleu1"></div></div>
        <div id="coteg">
            <div class="flex">
        <div class="bulle">
       <div style="width: 25%;">
            <img src="{{theme.path}}/assets/img/temoignage-1.jpg">
        </div>
            <div style="width: 75%;">
            <p>Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil. Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil.</p>
                <h3>Sarah Connor, directrice innovation </h3>
                <img src="{{theme.path}}/assets/img/bitmap.jpg">
            </div>
            </div>
            <div class="bulle">
       <div style="width: 25%;">
            <img src="{{theme.path}}/assets/img/temoignage-1.jpg">
        </div>
            <div style="width: 75%;">
            <p>Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil. Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil.</p>
                <h3>Sarah Connor, directrice innovation </h3>
                <img src="{{theme.path}}/assets/img/bitmap.jpg">
            </div>
            </div>
             </div>
            <div class="flex ronds" >
                <div class='rond rond-noir'></div>
                <div class='rond rond-cyan'></div>
                <div class='rond rond-cyan'></div>
            </div>
            </div>
    </div>
</section>

<section id="section7">
    <h1>Le Blog</h1>
<div class="flex">
    <div>
    <img src="{{theme.path}}/assets/img/ordi.jpg" class="imageradius">
        <h3>La veille collaborative : l’avenir de la veille en entreprise ?</h3>
    <p>12 FEV 2019</p>
    </div>
    <div>
    <img src="{{theme.path}}/assets/img/ordi.jpg" class="imageradius">
        <h3>La veille collaborative : l’avenir de la veille en entreprise ?</h3>
    <p>12 FEV 2019</p>
    </div>
    <div>
    <img src="{{theme.path}}/assets/img/datascience.png" class="imageradius">
        <h3>La veille collaborative : l’avenir de la veille en entreprise ?</h3>
    <p>12 FEV 2019</p>
    </div>
    
    </div>
<a href="{{theme.path}}/sources/" rel="home" >Plus d'articles</a>
</section>
    
{% endblock %}
