{# page.php #}

{% extends 'Layouts/base.twig' %}

{% block content %}
 <section class="flex" id="section9">
<div>
<h1>Veille concurentielle</h1>
    <h2>Maîtrisez votre environnement de marché</h2>
    <div>
    <p>Accueil > Lorem ipsum > Valem setum dolor</p>
    
    </div>
    </div>
     <div>
    <img src="{{theme.path}}/assets/img/illu-principale.png">
     
     </div>
</section>

 <section class="flex" id="section10">
     <div>
    <img src="{{theme.path}}/assets/img/illu-principale.png">
     
     </div>
<div>
<h1>Optimisez votre positionnement concurrentielle</h1>
    <h2>Gardez un coup d’avance > </h2>
   <p>Restez informé des évolutions de votre marché pour garder une longueur d’avance par rapport à vos concurrents.</p>
    
      <h2>Traitez l’Information à la source ></h2>
   <p>Approfondissez et ciblez vos connaissances pour agir plus rapidement sur les nouvelles offres du marché, les informations clients, les rachats, les accords et alliances, etc. </p>
    
      <h2>Concentrez-vous sur l’essentiel > </h2>
   <p> Canalisez et structurez l’Information disponible pour mieux faciliter son traitement et son analyse.</p>
    
   
    <h2>Agissez au plus juste > </h2>
   <p> Assurez-vous que chaque acteur de l’entreprise opère des actions précises, raisonnées, et efficientes par rapport aux objectifs fixés en amont. </p>
    
    
    </div>
     
</section>

<section class="flex" id="section11">
     
<div>
<h1>Garder le leadership</h1>
    <h2>Exploitez la moindre donnée > </h2>
   <p>Face au volume démesuré de données disponible, ne faites plus l’impasse sur certains aspects du marché. </p>
    
      <h2>Montez en compétences ></h2>
   <p>Développez vos savoir-faire grâce à une visibilité pointue de votre écosystème et de ses acteurs. </p>
    
      <h2>Affinez votre stratégie > </h2>
   <p> Enjeu stratégique majeur, la veille vous permet de différencier vos services et d’adapter votre offre en continu.</p>
    
   
    <h2>Devenez la référence de votre marché > </h2>
   <p> Démarquez-vous de vos concurrents et maintenez ainsi une pression constante sur votre marché. </p>
    
    <a href="{{theme.path}}/sources/" rel="home">La veille concurentielle en détail</a>
    
    </div>
     <div>
    <img src="{{theme.path}}/assets/img/illu-principale.png">
     
     </div>
</section>
<div class="flex partie3">
        <div id="coter"> <h1>Ils nous font confiance</h1>
      <div id="traitrose1"></div></div>

        <div id="coteg">
            <div class="flex">
        <div class="bulle">
       <div style="width: 25%;">
            <img src="{{theme.path}}/assets/img/temoignage-1.jpg">
        </div>
            <div style="width: 75%;">
            <p>Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil. Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil.</p>
                <h3>Sarah Connor, directrice innovation </h3>
                <img src="{{theme.path}}/assets/img/bitmap.jpg">
            </div>
            </div>
            <div class="bulle">
       <div style="width: 25%;">
            <img src="{{theme.path}}/assets/img/temoignage-1.jpg">
        </div>
            <div style="width: 75%;">
            <p>Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil. Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil.</p>
                <h3>Sarah Connor, directrice innovation </h3>
                <img src="{{theme.path}}/assets/img/bitmap.jpg">
            </div>
            </div>
             </div>
            <div class="flex ronds" >
                <div class='rond rond-noir'></div>
                <div class='rond rond-rose'></div>
                <div class='rond rond-rose'></div>
            </div>
            </div>
    </div>



<section id="section14">
    <h1>Le Blog</h1>
<div class="flex">
    <div>
    <img src="{{theme.path}}/assets/img/ordi.jpg" class="imageradius">
        <h3>La veille collaborative : l’avenir de la veille en entreprise ?</h3>
    <p>12 FEV 2019</p>
    </div>
    <div>
    <img src="{{theme.path}}/assets/img/ordi.jpg" class="imageradius">
        <h3>La veille collaborative : l’avenir de la veille en entreprise ?</h3>
    <p>12 FEV 2019</p>
    </div>
    <div>
    <img src="{{theme.path}}/assets/img/datascience.png" class="imageradius">
        <h3>La veille collaborative : l’avenir de la veille en entreprise ?</h3>
    <p>12 FEV 2019</p>
    </div>
    
    </div>
<a href="{{theme.path}}/sources/" rel="home">Plus d'articles</a>
</section>
<section class="flex" id="section12">
<div>
    <img src="{{theme.path}}/assets/img/illu-principale.png">
    </div>
    <div>
    <h1>Prêt à en apprendre davantage sur vos concurrents ? </h1>
        <p>De la conception de votre outil, à la personnalisation et au suivi de ses fonctionnalités, KB Crawl vous offre un panel de services adaptés à vos besoins.</p>
        <a href="{{theme.path}}/sources/" rel="home">Découvrez nos solutions</a>
    </div>
</section>
{% endblock %}
