{# single.php #}

{% extends 'Layouts/base.twig' %}

{% block content %}
<div class="titre"> <p>Accueil > Lorem ipsum</p>
<h1>Les sources d’informations
en veille concurrentielle</h1></div>

<section class="flex" id="section13">
<div style="width: 75%;" id="gauche">
   <img src="{{theme.path}}/assets/img/illu-principale.jpg"> 
    <h3>Qu’est-ce qu’une source d’informations ?</h3>
    <p>I am a tentative Marie Kondo fan. While I don’t fold my shirts into neat rolls or divide my junk drawer into easily identifiable sections, I read The Life-Changing Magic of Tidying Up and thought, That’s cool. I threw away a couple of old shirts and sweaters, maybe a few old binders, and that was that.</p>
<p>Perhaps the reason I don’t find Kondo’s tidying-up strategies particularly shocking is because I spent five years in Japan, training as a Zen Buddhist nun. For three of those years, I lived and worked in a convent called Aichi Senmon Nisodo, sharing a room with five Japanese women. We spent all day cooking, cleaning, sewing, and performing ceremonies.</p>

<p>Reading the discourse, backlash, and backlash to the backlash surrounding Kondo’s methods, it has occurred to me just how little Western people understand about Japanese culture.</p>
    
    <h3>D’où proviennent les sources d’informations ?</h3>
    <p>I am a tentative Marie Kondo fan. While I don’t fold my shirts into neat rolls or divide my junk drawer into easily identifiable sections, I read The Life-Changing Magic of Tidying Up and thought, That’s cool. I threw away a couple of old shirts and sweaters, maybe a few old binders, and that was that.</p>

<p>Perhaps the reason I don’t find Kondo’s tidying-up strategies particularly shocking is because I spent five years in Japan, training as a Zen Buddhist nun. For three of those years, I lived and worked in a convent called Aichi Senmon Nisodo, sharing a room with five Japanese women. We spent all day cooking, cleaning, sewing, and performing ceremonies.</p>
    
    <h3>D’où proviennent les sources d’informations ?</h3>
    <p>I am a tentative Marie Kondo fan. While I don’t fold my shirts into neat rolls or divide my junk drawer into easily identifiable sections, I read The Life-Changing Magic of Tidying Up and thought, That’s cool. I threw away a couple of old shirts and sweaters, maybe a few old binders, and that was that.</p>
    
    <div class="flex" id="flower">
    <div style="width: 50%;"><h1>Découvrez comment nos solutions permettent de<a href="{{theme.path}}/sources/" rel="home"> vérfier vos sources</a> </h1>
        <a href="{{theme.path}}/sources/" rel="home" id="bleu">Découvrir</a></div>
        <div style="width: 25%;"><img src="{{theme.path}}/assets/img/flower.png"></div>
    </div>
</div>
<div >
    <div class="borderb">
    <h2> A voir aussi</h2>
    </div>
    <div class="borderb">
    <p> Lorem ispdum dolor amet valem setum</p>
    </div>
    <div class="borderb">
    <p>Lorem ispdum dolor amet valem setum</p>
    </div>
    <div class="borderb">
    <p> Lorem ispdum dolor amet valem setum</p>
    </div>
    <div class="borderb">
    <p> Lorem ispdum dolor amet valem setum</p>
    </div>
    <div>
    <h2>Téléchargez notre livre blanc</h2>
    </div>
    <div id="carrebleu">hxjn</div>
     <div id="telecharger"><p>Lorem ispdum dolor amet <a href="{{theme.path}}/sources/" rel="home">Télécharger</a></p></div>
    </div>
   
</section>























 <section id="section7">
    <h1>Le Blog</h1>
<div class="flex">
    <div>
    <img src="{{theme.path}}/assets/img/ordi.jpg" class="imageradius">
        <h3>La veille collaborative : l’avenir de la veille en entreprise ?</h3>
    <p>12 FEV 2019</p>
    </div>
    <div>
    <img src="{{theme.path}}/assets/img/ordi.jpg" class="imageradius">
        <h3>La veille collaborative : l’avenir de la veille en entreprise ?</h3>
    <p>12 FEV 2019</p>
    </div>
    <div>
    <img src="{{theme.path}}/assets/img/datascience.png" class="imageradius">
        <h3>La veille collaborative : l’avenir de la veille en entreprise ?</h3>
    <p>12 FEV 2019</p>
    </div>
    
    </div>
     <a href="{{theme.path}}/sources/" rel="home">Plus d'articles</a>
</section>
<section class="flex" id="section12">
<div>
    <img src="{{theme.path}}/assets/img/illu-principale.png">
    </div>
    <div>
    <h1>Prêt à en apprendre davantage sur vos concurrents ? </h1>
        <p>De la conception de votre outil, à la personnalisation et au suivi de ses fonctionnalités, KB Crawl vous offre un panel de services adaptés à vos besoins.</p>
        <input type="button" value="Découvrez nos solutions">
    </div>
</section>
{% endblock %}
