<header id="header" class="header" >
    <img src="{{theme.path}}/assets/img/kbcrawl-logo.svg">
    <a href="{{theme.path}}/veille-concurentielle/" rel="home">Intelligence économique</a>
    <a href="{{theme.path}}/veille-concurentielle/" rel="home">Enjeux</a>
    <a href="{{theme.path}}/veille-concurentielle/" rel="home">Solutions</a>
    <a href="{{theme.path}}/veille-concurentielle/" rel="home">Qui sommes nous</a>
    <a href="{{theme.path}}/veille-concurentielle/" rel="home">Blog</a>
    <a href="{{theme.path}}/veille-concurentielle/" rel="home">Contact</a>
 
    <a class="boutonbleu" href="{{theme.path}}/sources/" rel="home"> Demander une démo</a>
    
    <select id="pet-select">
    <option value="fr">FR</option>
    <option value="en">EN</option>
</select>
</header>

